footer {
    transition: all 0.3s ease;
}

.footer-link {
    color: #e7f1ff;
    text-decoration: none;
    font-size: 0.9rem;
    display: inline-block;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.footer-link:hover {
    color: white;
    transform: translateX(3px);
}

i {
    font-size: 1rem;
}