/* LIGHT MODE */
.footer {
    background-color: #0d6efd;
    color: white;
    transition: all 0.3s ease;
}

.footer-link {
    color: #e7f1ff;
    text-decoration: none;
    font-size: 0.9rem;
    display: inline-block;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.footer-link:hover {
    color: white;
    transform: translateX(3px);
}

/* DARK MODE */
[data-theme="dark"] .footer {
    background-color: #0b1a2b;
    color: #e6f0ff;
}

[data-theme="dark"] .footer-link {
    color: #cfe2ff;
}

[data-theme="dark"] .footer-link:hover {
    color: white;
}

/* icons */
i {
    font-size: 1rem;
}